/target
Cargo.lock
flamegraph.svg
perf.*
profile.coz
callgrind.out.*
cachegrind.out.*
massif.*
/.env
/venv
test_mdf*
test.mf4
dhat.out.895819
dhat.out.910889
test_files/test.mf4_test
test_files/test.parquet
